* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e6e6e6;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 20px;
  border-radius: 20px;
  background-color: #333333;
}

.display {
  height: 60px;
  text-align: right;
  font-size: 2.5em;
  color: white;
  background-color: #1c1c1c;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.buttons button {
  width: 60px;
  height: 60px;
  font-size: 1.8em;
  color: white;
  background-color: #555;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.buttons button:active {
  background-color: #777;
}

.buttons button.operator {
  background-color: #fe9a00;
}
.buttons button.operator:active {
  background-color: #f57f17;
}
.buttons button.clear {
  background-color: #f44336;
}
.buttons button.clear:active {
  background-color: #d32f2f;
}
.buttons button.equals {
  background-color: #4caf50;
}
.buttons button.equals:active {
  background-color: #388e3c;
}